<!DOCTYPE html>
<html>
<head>
    <title>Real-time Data</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
<h1 style="text-align: center;">Radar</h1>
    <div id="chart"></div>

    <script>
        function fetchGraphData() {
            fetch('/graph-data')
                .then(response => response.json())
                .then(data => {
                    const graphs = JSON.parse(data);
                    Plotly.react('chart', graphs.data, graphs.layout);
                })
                .catch(error => console.error('Error fetching graph data:', error));
        }

        // Fetch graph data every second
        setInterval(fetchGraphData, 500);
    </script>
    <form id="configForm">
        <label for="measurementsPerRotation">measurementsPerRotation:</label>
        <input type="number" id="measurementsPerRotation" name="measurementsPerRotation" required><br><br>

        <label for="rotationSpeed">rotationSpeed:</label>
        <input type="number" id="rotationSpeed" name="rotationSpeed" required><br><br>

        <label for="targetSpeed">targetSpeed:</label>
        <input type="number" id="targetSpeed" name="targetSpeed" required><br><br>

        <button type="button" onclick="submitConfig()">Отправить</button>
    </form>

    <script>
        function submitConfig() {
            const measurementsPerRotation = document.getElementById('measurementsPerRotation').value;
            const rotationSpeed = document.getElementById('rotationSpeed').value;
            const targetSpeed = document.getElementById('targetSpeed').value;

            const config = {
                measurementsPerRotation: parseInt(measurementsPerRotation, 10),
                rotationSpeed: parseInt(rotationSpeed, 10),
                targetSpeed: parseInt(targetSpeed, 10)
            };

            fetch('http://127.0.0.1:5000/send-config', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(config)
            })
            .then(response => response.json())
            .then(data => {
                console.log('Ответ от сервера:', data);
            })
            .catch(error => {
                console.error('Ошибка:', error);
            });
        }
    </script>
</body>
</html>
